.boxed {

	
  border: 2px solid gray  ;
  border-radius: 8px;
  width: 640px;
  color: #000000;
  /*background-image:url('images/texture.jpg');*/
 
  box-shadow: 10px 10px 5px #888888;
}

.boxed:hover {


  border: 2px solid #00BFFF ;
  border-radius: 8px;
  width: 640px;
  color: #000000;
  /*background-image:url('images/texture.jpg');*/
 
  box-shadow: 10px 10px 5px #888888;
}

.boxed2{
  width: 640px;
  color: #000000;
  /*background-color: #696969;*/
}

div {line-height: 1.5;}
h1, p {margin: 0;}