
.boxedtext{
  width: 500px;
  padding: 5;
  
}

.boxed{

	
	
  border: 1px solid gray  ;
  border-radius: 8px;
  width: 500px;
  color: #000000;
  /*background-image:url('images/texture.jpg');*/
 
  box-shadow: 10px 10px 5px #888888;
  
  
  -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
     
            
            
      
}

.boxed:hover {


  border: 1px solid #00BFFF ;
  border-radius: 8px;
  width: 500px;
  color: #000000;
  /*background-image:url('images/texture.jpg');*/
 
  box-shadow: 10px 10px 5px #888888;
  
  -webkit-animation: shad 1s; /* Safari and Chrome */
       -moz-animation: shad 1s; /* Firefox */
        -ms-animation: shad 1s; /* Internet Explorer */
         -o-animation: shad 1s; /* Opera */
            
  
  
  
  
}

img{
  padding: 3px;
}

.topbar{
  padding: 5px;
}

.bar{
  width: 500px;
  color: #000000;
}

div {line-height: 1.5;}
h1, p {margin: 0;}



@keyframes fadein {
    from { opacity: 0; color: #00BFFF; background-color: gray; }
    to   { opacity: 1; color: black; background-color: white; }
    
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; color: #00BFFF; background-color: gray; }
    to   { opacity: 1; color: black; background-color: white;}
}

/* Safari and Chrome */
@keyframes shad {
    from { box-shadow: 0px 0px 0px 0px #00BFFF;}
    to   { box-shadow: 0px 0px 32px 0px #00BFFF;}
}

/* Safari and Chrome */
@-moz-keyframes shad {
    from { box-shadow: 0px 0px 0px 0px #00BFFF;}
    to   { box-shadow: 0px 0px 32px 0px #00BFFF;}
}

/* Safari and Chrome */
@-webkit-keyframes shad {
    from { box-shadow: 0px 0px 0px 0px #00BFFF;}
    to   { box-shadow: 0px 0px 32px 0px #00BFFF;}
}

/* Safari and Chrome */
@-ms-keyframes shad {
    from { box-shadow: 0px 0px 0px 0px #00BFFF;}
    to   { box-shadow: 0px 0px 32px 0px #00BFFF;}
}


/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; color: #00BFFF; background-color: gray; /*-webkit-transform: rotate(360deg);*/}
    to   { opacity: 1; color: black; background-color: white; /*-webkit-transform: rotate(0deg);*/ }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; color: #00BFFF; background-color: gray;  }
    to   { opacity: 1; color: black; background-color: white; }
}​